.paniervide{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 350px;
}

.items{
    width: 100%;
    margin-top: 50px;
    display: contents;
}

.item{
    display: flex;
    flex-wrap: wrap;
    margin: 25px;

}

.infocontainer{
    margin-top: 25px;
    width: 50%;
    height: 250px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-radius: 25px 0 0 25px;
    background-color: #D9D9D9;
    
}

.imagecontainer{
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-left: -20px;
    width: 20%;
    height: 250px;
    border: 2px solid black;
    border-radius: 25px; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: white;
}

.imagecontainer img{
    max-height: 80%;
    width: auto;
    display: block; 
}